<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Documate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Documate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Documate.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en-EN</value>
            </setting>
            <setting name="ActivateLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppendLogFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFileLocation" serializeAs="String">
                <value>Logging</value>
            </setting>
            <setting name="MainFrmWindowstate" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFrmLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFrmSize" serializeAs="String">
                <value>400, 800</value>
            </setting>
            <setting name="ConfigureFrmWindowstate" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ConfigureFrmLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConfigureFrmSize" serializeAs="String">
                <value>820, 500</value>
            </setting>
        </Documate.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Documate.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Documate</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>0.0.0.1</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>Documate.log</value>
            </setting>
            <setting name="DatabaseDirectory" serializeAs="String">
                <value>Database</value>
            </setting>
            <setting name="DataBaseVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackUpFolder" serializeAs="String">
                <value>Backup</value>
            </setting>
        </Documate.Properties.Settings>
    </applicationSettings>
</configuration>