<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Documate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Documate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Documate.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>EN</value>
            </setting>
        </Documate.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Documate.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Documate</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>0.0.0.1</value>
            </setting>
        </Documate.Properties.Settings>
    </applicationSettings>
</configuration>